/*--------------------------------
SETTAGGI GENERALI STILE PRESTO.IT
---------------------------------*/
:root{
    --myWhite: rgb(255, 255, 255);
    --myOrange: rgb(255, 183, 0);
    --myPurple: rgb(160, 0, 240);
}

body{
    background-color: var(--myWhite);
    font-family: 'Montserrat', sans-serif;
}

/* Classi Color-Text Root */
.textMyWhite{
    color: var(--myWhite);
}
.textMyBlack{
    color: black;
}
.textMyOrange{
    color: var(--myOrange);
}
.textMyPurple{
    color: var(--myPurple);
}

/* Classi BGColor Root */
.bgMyWhite{
    background-color: var(--myWhite);
}
.bgMyBlack{
    background-color: black;
}
.bgMyOrange{
    background-color: var(--myOrange);
}
.bgMyPurple{
    background-color: var(--myPurple);
}

/* Gestione dei fonts */
.fontMontserrat{
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------
SETTAGGI NAVBAR
---------------------------------*/
.bgNavbar{
    background-color: var(--myPurple);
}

.nav-link{
    color: var(--myWhite);
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.623);
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--myWhite);
}
.nav-link:focus {
    color: var(--myWhite);
}


.dropdown-menu{
    background-color: var(--myPurple);
    border: none;
}

.dropdown-menu[data-bs-popper] {
    top: 70%;
    left: 2%;
    margin-top: var(--bs-dropdown-spacer);
}

.dropdown-item{
    color: var(--myWhite);
    background-color: none;
    font-size: 1.7vh;
    font-weight: 500;
}


.dropdown-item:hover{
    color: rgba(255, 255, 255, 0.596);
    background-color: transparent;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgb(255, 255, 255);
    background-color: var(--myPurple);
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
a.nav-link{
    font-weight: 500;
    font-size: 2.3vh;
}
/*--------------------------------
SETTAGGI SEZIONE LISTA CATEGORIE
---------------------------------*/
a.textMyBlack:hover{
    color: var(--myPurple);
}
.spacer{
    height: 4vh;
    background-color: var(--myPurple);
    padding: 4vh;
}


/*--------------------------------
SETTAGGI HEADER WELCOME
---------------------------------*/
.bgHeader{
    height: 70vh;
    background: linear-gradient(rgba(160, 0, 240, 0.37) , rgba(0, 0, 0, 0.404)) ,  url('https://plus.unsplash.com/premium_photo-1684785617500-fb22234eeedd?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}
.myBtn{
    background-color: var(--myOrange);
    color: white;
    font-weight:500;
    padding: 1vh 5vh;
}
.myBtn:hover{
    background-color: rgb(219, 159, 5);
    color: white;
    font-weight:500;
    padding: 1vh 5vh;
}

/*--------------------------------
SETTAGGI FOOTER
---------------------------------*/
footer{
    height: 15vh;
}

.footerLink:hover{
    color: var(--myPurple);
}

.infoLogoFooter{
    font-size: 1vh;
}

.listItemsFooter{
    list-style-type: none;
    font-size: 1.12vh;
    margin-bottom: 1.8vh;
}

/*--------------------------------
MEDIA QUERIES 
--------------------------------*/
/* xxl displays */
@media (min-width: 1400px) {
    .linkContainer{
        position: relative;
        right: 15vh;
    }
    .itemLang{
        position: relative;
        right: 1%;
    }
    .formNavbar{
        position: relative;
        left: 14vh;
    }
    .navbar-brand {
        position: relative;
        left: 14vh;
    }
    .footerLink{
        margin-top: 3.6vh;
        margin-left: 2.7vh;
    }
    .logoFooter{
        margin-top: 3.6vh;
        margin-bottom: 0vh;
    }
    .infoLogoFooter{
        word-wrap: normal;
    }
    .listItemsFooter{
        font-size: 1.12vh;
        margin-bottom: 2.1vh;
    }
    .socialicon{
        font-size: 2.25vh;
        margin-bottom: 1.8vh;
        margin-left: 1.7vh;
    }
    .appStoreIcon{
        margin-top: 1vh;
        margin-bottom: 1.8vh;
    }
    .appleStoreIcon{
        font-size: 2.7vh;
        font-weight: bold;
        margin-left: 2.34vh;
    }
    .androidStoreIcon{
        font-size: 2vh;
        font-weight: bold;
        margin-top: 1.6vh;
        margin-left: 4.1vh;
        margin-right: 51.55vh;
    }
}

/* xl displays */
@media (min-width: 1200px) {
    .linkContainer{
        position: relative;
        right: 15vh;
    }
    .itemLang{
        position: relative;
        right: 1%;
    }
    .formNavbar{
        position: relative;
        left: 14vh;
    }
    .navbar-brand {
        position: relative;
        left: 14vh;
    }
    .footerLink{
        margin-top: 3.6vh;
        margin-left: 2.7vh;
    }
    .logoFooter{
        margin-top: 3.6vh;
        margin-bottom: 0vh;
    }
    .infoLogoFooter{
        word-wrap: normal;
    }
    .listItemsFooter{
        font-size: 1.12vh;
        margin-bottom: 2.1vh;
    }
    .socialicon{
        font-size: 2.25vh;
        margin-bottom: 1.8vh;
        margin-left: 1.7vh;
    }
    .appStoreIcon{
        margin-top: 1vh;
        margin-bottom: 1.8vh;
    }
    .appleStoreIcon{
        font-size: 2.7vh;
        font-weight: bold;
        margin-left: 9vh;
    }
    .androidStoreIcon{
        font-size: 2vh;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 1.6vh;
        margin-left: 2vh;
        margin-right: 17.6vh;
    }
}

/* lg displays */
@media (min-width: 868px) and (max-width:1200px) {
    .linkContainer{
        position: relative;
        right: 5vh;
    }
    .itemLang{
        position: relative;
        right: 7%;
    }
    .formNavbar{
        position: relative;
        left: 14vh;
    }
    .navbar-brand {
        position: relative;
        left: 14vh;
    }
    .footerLink{
        margin-top: 3.6vh;
        margin-left: 2.7vh;
    }
    .listItemsFooter{
        font-size: 1.12vh;
        margin-bottom: 2.1vh;
    }
    .logoFooter{
        margin-top: 3.6vh;
        margin-bottom: 0.9vh;
    }
    .infoLogoFooter{
        word-wrap: normal;
    }
    .socialicon{
        font-size: 2.25vh;
        margin-top: 2.3vh;
        margin-bottom: 1.8vh;
        margin-left: 1.5vh;
        margin-right: 1.44vh;
    }
    .appStoreIcon{
        margin-top: 1.4vh;
        margin-bottom: 1.8vh;
    }
    .appleStoreIcon{
        font-size: 2.7vh;
        font-weight: bold;
        margin-left: 1.05vh;
        margin-right: 1.8vh;
    }
    .androidStoreIcon{
        font-size: 2vh;
        font-weight: bold;
        margin-top: 2.04vh;
        margin-right: 21.7vh;
    }
}

/* md displays */
@media (min-width: 768px) and (max-width:868px) {
    .linkContainer{
        position: relative;
        right: 0vh;
    }
    .formNavbar{
        position: relative;
        left: 15vh;
    }
    .navbar-brand {
        position: relative;
        left: 15vh;
    }
    .footerLink{
        font-size: 1.35vh;
        margin-top: 3.6vh;
        margin-bottom: 0.9vh;
        margin-left: 2vh;
        margin-right: 2vh; 
    }
    .listItemsFooter{
        font-size: 1.12vh;
        margin-bottom: 2.1vh;
        margin-left: 0.1vh;
    }
    .logoFooter{
        margin-top: 3.6vh;
    }
    .infoLogoFooter{
        font-size: 0.96vh;
        word-wrap: normal;
        margin: 0 auto;
        margin-top: 1.15vh;
    }
    .socialicon{
        font-size: 2.25vh;
        margin-right: 1.4vh;
    }
    .appStoreIcon{
        margin-top: 0.5vh;
    }
    .appleStoreIcon{
        font-size: 2.7vh;
        font-weight: bold;
        margin-right: 6.4vh;
    }
    .androidStoreIcon{
        font-size: 2vh;
        font-weight: bold;
        margin-top: 1.63vh;
        margin-left: 0.9vh;
        margin-right: 6.25vh;
    }
}

/* sm displays */
@media (min-width: 575px) and (max-width:768px){
    .footerLink{
        margin-left: 2.7vh;
    }
    .listItemsFooter{
        font-size: 1.12vh;
        margin-bottom: 2.1vh;
    }
    .logoFooter{
        margin-top: 3.6vh;
        margin-bottom: 0.9vh;
    }
    .infoLogoFooter{
        word-wrap: normal;
        margin-bottom: 3.6vh;
    }
    .socialicon{
        font-size: 2.25vh;
        margin-left: 1.5vh;
    }
    .appStoreIcon{
        margin-top: 1vh;
        margin-bottom: 1.5vh;
    }
    .appleStoreIcon{
        font-size: 2.7vh;
        font-weight: bold;
        margin-left: 3vh;
    }
    .androidStoreIcon{
        font-size: 2vh;
        font-weight: bold;
        margin-left: 3vh;
        margin-bottom: 2.7vh;
    }
}